<div class="push"></div>
  <footert>
  <footer>
    <!--<aside class="wrap">
      <ol class="prev-posts">
        <p class="list-title"><a href="/">Recent Articles</a></p>
        {% for post in site.posts | limit:3 %}
            <li>
              <span class="recent-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title | strip_html | strip_newlines | truncate: 30 }}</span>
              <span class="date">{{post.date | date: "%b %d, %Y" }}</a></span>
            </li>
        {% endfor %}
      </ol>

      <div class="social">
        <ul>
            <li><a href="{{ site.url }}/about"><span class="foot-link">About</span></a></li>

            <li><a href="{{ site.url }}/articles"><span class="foot-link">Articles</span></a></li>

            <li><a id="mail" href="https://jaan.io/feed.xml"><span class="foot-link">Subscribe</span></a></li>



            {% if site.owner.twitter %}
            <li><a id="twit" href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><span class="foot-link">@{{ site.owner.twitter }}</span></a></li>
            {% endif %}


            {% if site.owner.dribbble %}
            <li><a id="drib" href="http://dribbble.com/{{ site.owner.dribbble }}" target="_blank"><span class="foot-link">Dribbble</span></a></li>
            {% endif %}
        </ul>
    </div>
    </aside>-->
    <!-- <small>&copy; {{ site.time | date: '%Y' }} <a href="mailto:jaan@jaan.io"> {{ site.owner.name }} </a></small> -->
    <small><a href="{{ site.url }}/blog">back to blog </a><a href="https://twitter.com/thejaan" target="_blank">{% icon fa-twitter %}</a></small>
  </footer>
</footert>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/assets/js/retina.min.js"></script>

  <!-- Custom JS -->
  <script async src="{{ site.url }}/assets/js/scripts.js"></script>


  {% if site.google_analytics %}
  <!-- Asynchronous Google Analytics snippet -->
  <script>
    var _gaq = _gaq || [];
    var pluginUrl =
    '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);

  setTimeout(function() {
    window.onscroll = function() {
      window.onscroll = null; // Only track the event once
      _gaq.push(['_trackEvent', 'scroll', 'read']);
    }
  }, 5000);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}

  </body>
</html>
