{% include head-dark.html %}

    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
            <p class="intro">I'm excited about making mental health care, health care, and science more equitable, accurate, and accessible by developing machine learning methods, and creating joy, fun, connection along the way!<br><br>
              Read more <a href="/about">about me</a>, view my <a href="/cv">CV</a>, and <a id="mail" href="mailto:j@jaan.io?subject=Inquiry">get in touch</a> if you want to discuss an idea or grab a coffee — I'm available.</p>
            <!-- <img id="jathumb" src="images/jathumb.jpg"/> -->
            <!-- <figure><img src="/images/jathumb.jpg" /></figure> -->
            <figure><center><img src="/images/altosaar-head.jpg" style="max-width: 100%"/></center></figure>
<!--             <br>
            <br>
              <ol class="post-list">
                  <lh style="text-align: center"><h2><span class="bb"><a href="/">{{ page.title }}</a></span></h2></lh>
                  {% for post in site.posts limit:5 %}
                  <li>
                     <a href="{{ site.url }}{{ post.url }}">
                     <div class="featured-image-small" style="background-image: url({{ site.url }}/images/{{ post.image.thumb }})">
                     </div>
                     </a>
                     <div class="deets left-slide" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                     <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                     {% if post.modified %}<p class="date"><span class="date"><time datetime="{{ page.modified }}" itemprop="dateModified">Updated on {{ post.modified | date: "%B %d, %Y" }}</time></span>{% else %}<p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>{% endif %}</p>
                     <p class="summary">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                     </div>
                  </li>
                  {% endfor %}
              </ol> -->
          </article>
        </section>
    </div>
{% include footerhome.html %}
