{% include head-dark.html %}

    <div id='bump'>
        <!-- <section class="article archive"> -->
          <article class="archive-wrap">
              <ol class="post-list">
                  <!--<lh style="text-align: center"><h2><span class="bb"><a href="{{ page.url }}">{{ page.title }}</a></span></h2></lh>-->
                  {% assign sorted = site.papers | sort: 'date' | reverse %}
                  {% for paper in sorted %}
                  <li>
                    <table>
                    <tr><td>
                     <div class="featured-image-project" style="background: url(/images/{{ paper.thumb }}) center no-repeat; background-size: contain">
                     </div>
                     </td><td>
                      <div class="deets left-slide" itemscope itemtype="https://schema.org/ScholarlyArticle" itemprop="paper">
                      <p class="summary" style="margin-bottom: 0px">
                        <em>{{ paper.blurb }}</em>
                        <br><br>
                        {% if paper.description %}
                        {{ paper.description | markdownify | remove: '<p>' | remove: '</p>' }}<br><br>
                        {% endif %}
                        {{ paper.author }}. {{ paper.title | strip }}. <em>{{ paper.venue }}</em>, {{ paper.year }}.
                      <p style="font-size: medium">
                        {% if paper.doi %}
                        <a href="{{ paper.doi }}"><i class="ai ai-doi"></i></a>
                        &ensp;
                        {% endif %}
                        {% if paper.link %}
                        <a href="{{ paper.link }}"><i class="fas fa-link"></i> URL</a>
                        &ensp;
                        {% endif %}
                        {% if paper.arxiv %}
                        <a href="{{ paper.arxiv }}"><i class="fas fa-book-dead"></i> arXiv</a>
                        &ensp;
                        {% endif %}
                        <a href="/papers/{{ paper.pdf }}"><i class="far fa-file-pdf"></i> PDF</a>
                        &ensp;
                        {% if paper.code %}
                        <a href="{{ paper.code }}"><i class="fab fa-github"></i> Code</a>
                        &ensp;
                        {% endif %}
                        <button class="btn" clipboard="{{ paper.bibtex }}"><i class="fas fa-quote-left"></i> Copy BibTex</button>
                        &ensp;
                        {% if paper.slides %}
                        <a href="/talks/{{ paper.slides }}"><i class="fas fa-chalkboard-teacher"></i> Slides</a>
                        &ensp;
                        {% endif %}
                        {% if paper.video %}
                        <a href="{{ paper.video }}"><i class="fab fa-youtube"></i> Video</a>
                        &ensp;
                        {% endif %}
                        {% if paper.talk %}
                        <a href="{{ paper.talk }}"><i class="fab fa-youtube"></i> Talk</a>
                        &ensp;
                        {% endif %}
                        {% if paper.demo %}
                        <a href="{{ paper.demo }}"><i class="fas fa-play-circle"></i> Demo</a>
                        &ensp;
                        {% endif %}
                      </p>
                      </p>
                    </div>
                    </td></tr></table>
                  </li>
                {% endfor %}
              </ol>
          <!-- </article> -->
        </section>
    </div>

{% include footer.html %}